.mejs-video .mejs-controls .mejs-hdtoggle-button button {
    color: #606060;
    font-size: 11px;
    padding:0;
    background: none;
    text-decoration: line-through;
}
.mejs-video .mejs-controls .mejs-hdtoggle-button.mejs-hdtoggle-on button {
    color: #dedede;
    text-decoration: none;
}
